.search {
  display: flex;
  gap: 10px;
}
.btnSearch {
  padding: 3px;
  border: 2px solid blue;
  color: blue;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 50px;
}

.products {
  margin-bottom: 50px;
}

.banner-img {
    width: 100%;
    height: 530px;
}

.product-img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    margin: 0;
    display: block;
}